body{}
.contenedor{
    width: 70%;
    height: 70vh;
    border: solid 1px white;
    margin-top:20px;
   
 
}
.box{
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    justify-items: center;
    position: relative;
    overflow: hidden;
   
}
.contenedor-img{
    width: 100%;
    height: 60%;
}

.contenedor-datos{
    width: 100%;
    height: 30%;
}

.img{
    width: 50%;
}